# Sublime Project Files for cool people
*.sublime*

# temp files
*~
\#*

# go files
pkg
attempt
bin

# Compiled python files
*.pyc

# libraries
src/github.com
src/cgl.tideland.biz

# sqlite3 database file
webserver/djangodb.db
