{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
    <head>
        <title>Attempt</title>
        <link href="{{ STATIC_PREFIX }}css/sitewide.css" rel="stylesheet" type="text/css">
        <script src="{{ STATIC_PREFIX }}js/jquery-2.0.3.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_PREFIX }}js/pixi.dev.js" type="text/javascript"></script>
        <script src="{{ STATIC_PREFIX }}js/renderer.js" type="text/javascript"></script>
        <script src="{{ STATIC_PREFIX }}js/network.js" type="text/javascript"></script>
        <script src="{{ STATIC_PREFIX }}js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="content">
            {% block content%}{% endblock %}
        </div>
    </body>
</html>
